// ===============
// TIMELINE MODULE
// ===============
.jp-timeline {
}

.jp-timeline__base {
    display: inline-block;
    position: relative;
    height: $timeline-width;
    line-height: $timeline-width;
    vertical-align: middle;
}

.jp-timeline--circle {
    position: relative;

    // cheating - don't do this at home!
    i {
        position: absolute;
        left: calc(50% - .5rem);
        top: calc(50% - .5rem);
        width: 1rem;
        font-size: 1rem;
        text-align: center;
        color: $body-background;
    }

    &:before {
        width: $timeline-width;
        height: $timeline-width;
        content: '';
        display: inline-block;
        background-image: radial-gradient(
            100% 50%, /* the -23px left position varies by your "gap" */
            circle closest-corner, /* keep radius to half height */
            transparent (($timeline-width / 2) + 1px), /*transparent at edge of gap */
            $body-background (($timeline-width / 2) + 3px) /* end circle border and begin color of rest of background */
        );
    }

    &:after {
        width: $timeline-width;
        height: $timeline-width;
        content: '';
        display: inline-block;
        background-image: radial-gradient(
            0% 50%,
            circle closest-corner,
            transparent (($timeline-width / 2) + 1px),
            $body-background (($timeline-width / 2) + 3px)
        );
    }
}

.jp-timeline--line {
    height: $timeline-width * 4;

    &:before {
        width: $timeline-width / 1.25;
        height: 100%;
        content: '';
        display: inline-block;
        background: $body-background;
    }

    &:after {
        width: $timeline-width / 1.25;
        height: 100%;
        margin-left: $timeline-width / 2.5;
        content: '';
        display: inline-block;
        background: $body-background;
    }
}

.jp-timeline__background {
    background-color: $timeline-color;
    transition: background-color .5s;
}

.jp-timeline__background--green {
    background-color: $timeline-color2;
}

.jp-timeline__boxes {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.jp-timeline__box {
    width: 300px;
    margin-top: 0;
    padding: $global-padding;
    position: absolute;
    background-color: $white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: padding .5s, opacity .5s;

    p {
        margin: 0;
        padding: 0;
    }

    &:nth-child(2n + 1) {
        left: 170px;
    }

    &:nth-child(2n) {
        right: 170px;
    }
}

.jp-timeline__box--hidden {
    // padding not margin - due to js reasons ;)
    padding-top: 40px;
    opacity: 0;
}

@media #{$medium-up} {
    .jp-timeline {
        justify-content: center;
    }

    .jp-timeline__mask {
        background-image: linear-gradient(top, transparent 60%, $body-background 60%);
        background-position: ($skill-margin * 0) 60%;
        background-attachment: fixed;
        transition: padding .5s, opacity .5s;
    }
}

@media #{$medium-only} {
    .jp-timeline--line {
        height: $timeline-width * 5;
    }

    .jp-timeline__box {
        width: 200px;

        &:nth-child(2n + 1) {
            left: 70px;
        }

        &:nth-child(2n) {
            right: 70px;
        }
    }
}

@media #{$small-only} {
    .jp-timeline--line {
        height: $timeline-width * 5;
    }

    .jp-timeline__box {
        width: 200px;

        &:nth-child(2n + 1) {
            // set with javascript dynamically
            right: $global-margin;
            left: initial;
        }

        &:nth-child(2n) {
            // set with javascript dynamically
            right: $global-margin;
            left: initial;
        }
    }
}