// =============
// HEADER MODULE
// =============

.jp-header {
	background: $primary-color;
	height: 70px;
	color: $white;

	a {
		color: $white;
	}

	.jp-logo {
		bottom: -($logo-width / 2);
		left: $global-padding;
	}
}

.jp-header__inner {
    height: inherit;
}

@media #{$small-only} {
	.jp-header {
		height: 50px;
	}
}