// =============
// SLIDER MODULE
// =============

$ratio: 6/20;

.jp-slider {
    background: $primary-color;
    position: relative;
}

.jp-slider__inner {
    // @extend .row;
    position: relative;
    overflow: hidden;
    padding-top: percentage($ratio);
}

.jp-slider__items {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    white-space: nowrap;
    transition: transform 1s ease-in-out;

    .no-js & {
        overflow: auto;
    }

    .no-csstransforms & {
        left: 0;
    }
}

.jp-slider__item {
    padding-top: percentage($ratio);
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    max-height: 400px;
    white-space: normal;

    img {
        max-width: initial;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}