<div class="jp-languagechooser jp-menu jp-menu--dashed">
    <ul class="clearfix">
        <a href="#" class="jp-languagechooser__list-item" data-ng-click="changeLang('en-us')" data-ng-class="{'jp-languagechooser--active': langChooser.prefLang === 'en-us'}" data-lang="en-us"><li>EN</li></a>
        <a href="#" class="jp-languagechooser__list-item" data-ng-click="changeLang('de-de')" data-ng-class="{'jp-languagechooser--active': langChooser.prefLang === 'de-de'}" data-lang="de-de"><li>DE</li></a>
    </ul>
</div>
