.jp-menu {
	ul, ol {
		list-style: none;
	}
}

.jp-menu--dashed .jp-menu__list-item {
	border-left: 1px solid $white;
	padding: $global-padding / 10 $global-padding / 2;

	&:first-child {
		border: 0;
	}
}

.jp-menu__main {
    transition: background .3s, color .3s;

    a:hover {
        background: darken($white, 20%);
        color: $primary-color;
    }

    a:first-child {
        border-radius: 5px 0 0 5px;
    }

    a:last-child {
        border-radius: 0 5px 5px 0;
    }
}

.jp-menu__list-item {
	display: inline-block;
}

.jp-menu__list-item--active {
    background: $white;
    color: $primary-color !important;
}

@media #{$small-only} {
    .jp-menu__main {
        width: 100%;
        position: absolute;
        top: $header-height-small;
        left: 0;
        border-bottom: 5px solid $primary-color;
        background: $primary-color;
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s;
        z-index: 1;

        a, a:hover, a:last-child, a:first-child {
            border-radius: 0;
        }

        .jp-menu__list-item {
            padding: 1.5em;
            width: 100%;
            display: block;
            border: 0;
            text-align: center;
        }
    }

    .jp-menu__main--active {
        max-height: 300px;
    }
}