// ================
// MOUNTAINS MODULE
// ================

.jp-mountains {

}

#jp-mountains__sketch {
    position: relative;
    min-height: 200px;

    canvas {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}