// ==============
// CONTACT MODULE
// ==============

.jp-contact {
    display: block;
    background: $primary-color;
    color: $white;
    transition: all .5s;

    &:hover {
        background: $secondary-color;
        color: $black;
    }
}

.jp-contact__title {
    padding: $global-padding * 4;
    text-align: center;
}
