// ==============
// PROJECT MODULE
// ==============

.jp-project {
    box-shadow: $box-shadow;
    border-radius: 2px;
    margin-bottom: $global-margin * 2;
    background: $white;
}

.jp-project__title {
    font-weight: 600;
}

.jp-project__image {
    height: 200px;
    margin: 0 auto;
    padding: ($global-padding / 2);
    padding-bottom: 0;
    overflow: hidden;

    img {
        // height: 200px;
        max-height: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
}

.jp-project__content {
    padding: $global-padding;

    > div {
        margin-top: $global-margin / 2;

        &:last-child {
            margin-bottom: $global-margin / 2;
        }
    }
}

.jp-project__tag {
    background: $medium-gray;
    display: inline-block;
    border-radius: 10px;
    padding: 0 ($global-padding  / 2);
    margin-left: ($global-margin / 2);

    &:nth-of-type(1) {
        margin-left: 0;
    }
}

.jp-project__tag--overflow {
    cursor: pointer;
    position: relative;

    &:hover .jp-project__overflow-text {
        display: block;
        opacity: 1;
        transition: opacity .5s;
    }
}

.jp-project__overflow-text {
    display: none;
    padding: ($global-padding / 3) ($global-padding / 2);
    position: absolute;
    right: 0;
    top: -2.5rem;
    background: $black;
    color: $white;
    opacity: 0;
    white-space: nowrap;
    font-size: .8rem;
    text-align: center;

    transition: opacity .5s;

    &:after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background: $black;
        position: absolute;
        transform: rotate(45deg);
        right: 7px;
        bottom: -5px;
    }
}