// globals
$box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

// .jp-logo in header
$logo-width: 50px;
$logo-height: $logo-width;
$header-height: 70px;
$header-height-small: 50px;

// .jp-timeline in cmps/timeline.scss
$timeline-width: 40px;
$timeline-color: $secondary-color;
$timeline-color2: $primary-color;