.jp-footer {
  height: 50px;
  background: $primary-color;

  &__icon-wrapper {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      color: $background-color;
      text-decoration: none;
    }

    i {
      margin: 0.5rem;
    }
  }
}
