@import "normalize.css";

@import "./variables.scss";
@import "./footer.scss";
@import "./content.scss";

@mixin animationDelay($elementAmount, $shownClass) {
  @for $i from 0 to ($elementAmount)  {
    &:nth-child(#{$i + 1}) {
      background: lighten($primary-color, ($elementAmount - $i) * 10%);
      transition-delay: ($i + 1) * 0.1s;

      #{$shownClass} & {
        transform: rotate(#{$elementAmount - $i}deg);
      }
    }
  }
}

html, body {
  box-sizing: border-box;
  background: $background-color;
  min-height: 100vh;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.jp-header {
  height: 100px;
  transform: translateY(-50%);
  position: relative;

  &__inner {
    height: inherit;
    width: 140%;
    background: $primary-color;
    transition: transform .3s;
    transform: rotate(0);
    transform-origin: 0 0;
    position: absolute;
    top: 0;
    left: 0;

    @include animationDelay(4, ".jp-dom-loaded");
  }
}

.jp-logo {
  width: 50px;
  height: 50px;
  background: $primary-color;
  padding: .5rem;
  border-radius: 50%;
  position: relative;
  top: -75px;
  left: 20px;
  transform: translateX(-200%);
  transition: transform .3s .3s;

  .jp-dom-loaded & {
    transform: translateX(0);
  }

  img {
    width: 100%;
  }
}
