<div class="jp-projects">
  <div class="jp-project">
    <div>
      <div class="jp-project__image">
        <img src="" />
      </div>

      <div class="jp-project__content">
        <div class="jp-project__title">
          xxx
        </div>

        <div class="jp-project__description">
          xxx
        </div>
      </div>
    </div>
  </div>
</div>
